.container {
  display: flex;
  align-items: center;
  min-height: 160px;
  background: url("/images/hero-bg.jpg") no-repeat center center/cover;
  padding: 32px 0;
}

.container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 940px) {
  .container > div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.text {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 37px;
  color: #ffffff;
}

.container button {
  width: 150px;
}
