.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.name {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #555555;
}
